<h3 class="text-center">Redefinição de Senha</h3>

<%for(error of errors){ %>
  <div class="row justify-content-center">
    <div class="alert alert-danger"><%=error.text%></div>
  </div>
<%}%>

<form action="/auth/reset-password" method="POST">

  <input type="hidden" name="id" value="<%=id%>">
  <input type="hidden" name="token" value="<%=token%>">

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="passwordConfirmation">Confirmação de senha</label>
      <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" required>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <button type="submit" class="btn btn-success">Redefinir Senha</button>
    </div>
  </div>

</form>
