<h3 class="text-center">Edição de Categoria</h3>

<%for(error of errors){ %>
  <div class="row justify-content-center">
    <div class="alert alert-danger"><%=error.text%></div>
  </div>
<%}%>

<form action="/admin/categories?_method=PUT" method="POST">

  <input type="hidden" name="id" value="<%=category._id%>">

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" name="name" value="<%=category.name%>" placeholder="Nome da categoria">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" name="label" value="<%=category.label%>" placeholder="Label da categoria">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group col-6">
      <button type="submit" class="btn btn-success">Editar categoria</button>
    </div>
  </div>

</form>
